.App {
  max-width: 90%;
  margin: 0 auto;
}

.App input {
  width: 400px;
  max-width: 90%;
  padding: 1em;
  margin: 1em 0;
  border-radius: 8px;
  border: 1px solid grey;
  font-size: 17px;
}

.App .fikon {
  width: 400px;
  max-width: 90%;
  padding: 1em;
  transition: 100ms;
  position: relative;
  border-radius: 8px;
}

.App .fikon.active {
  background-color: #ffff005c;
}

.App .copied {
  display: none;
  transition: 100ms;
  margin: 1em 0;
  color: white;
  background: black;
  padding: 1em;
  border-radius: 10px;
}

.App .copied.active {
  display: block;
}
